@import "tailwindcss";

:root {
  --primary: #8A2BE2;
  --secondary: #ADEBB3;
  --neutral: #24324D; /* Deep Blue for cards/containers */
  --support: #E89EB8;
  
  --background: #1E293B; /* Midnight Blue for general background */
  --foreground: #F1F5F9; /* Gelo for general text */
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --color-support: var(--support);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
